UPLOAD_LOCATION=/mnt/storage/immich/library
DB_DATA_LOCATION=/mnt/storage/immich/postgres
TS_IP=100.64.0.1
TZ=UTC
IMMICH_VERSION=release
# letters and digits only
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
